DarkMagician A 6 7 7
BlueEyesWhiteDragon 7 6 2 A
BlueEyesUltimateDragon A A 9 9
RedEyesBlackDragon 6 6 6 6
ExodiaTheForbiddenOne A A A A
TheLeftLegOfTheForbiddenOne 1 1 1 A
TheRightLegOfTheForbiddenOne 1 1 A 1
TheRightArmOfTheForbiddenOne 1 A 1 1
TheLeftArmOfTheForbiddenOne A 1 1 1
TheHeadOfTheForbiddenOne 1 1 1 1
TheWingedDragonOfRa 9 9 9 9
SliferTheSkyDragon 8 8 8 8
ObeliskTheTormentor 7 7 7 7
GaiaTheFierceKnight 3 2 5 9
CelticGuardian 6 8 1 2
BabyDragon 7 2 1 2
SummonedSkull 5 4 2 1
Kuriboh 1 2 1 2
BlackLusterSoldier 8 8 8 8
DarkMagicianGirl 9 5 6 6
PotOfGreed 1 2 3 4
MirrorForce 4 3 2 1
Polymerization 3 7 1 4
MonsterReborn 2 8 1 3
MagicCylinder A 1 3 7
Raigeki 2 4 7 4
MammothGraveyard 7 2 A 1
FeralImp 2 3 1 3
CurseOfDragon 6 5 8 3
GiantSoldierOfStone 1 1 8 8
Valkyrie 7 8 3 4
BattleOx 6 3 2 5
LabyrinthWall 1 1 A 8
LaJinnTheMysticalGenieOfTheAltar 1 A 1 1
TimeWizard 1 4 4 2
MagicianOfBlackChaos 8 A 9 7